:root {
  --frame-gap: 30px;
  --frame-line: 2px;
  --frame-color: white;
  --swing-time: 1000;

}

main {
  background: var(--darkred);

  section {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }

  .mark {
    margin: 0 auto var(--gutter);
    width: 50vw;
    max-width: 370px;
  }

  .btn {
    display: inline-block;
    color: var(--darkred);
    font-weight: 800;
    background: var(--primary);
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 0.75rem 0;
    width: 100%;
    max-width: 200px;
    margin: var(--gutter) auto;
    animation: heartBeat 1.3s ease-in-out infinite;
  }

  .shadow {
    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 15px;
      background: rgba(black, 0.2);
      border-radius: 100%;
      margin: -5px auto 0;
      position: relative;
      z-index: -1;
    }
  }
}

.note {
  color: var(--frame-color);
  line-height: 1.6;
  padding: var(--gutter);

  ol,
  ul {
    margin: 0;
    padding-top: var(--frame-gap);
    padding-bottom: calc(var(--frame-gap) / 2);
    padding-right: calc(var(--frame-gap) * 0.6);
    border-left: var(--frame-line) solid var(--frame-color);
    border-right: var(--frame-line) solid var(--frame-color);
  }

  ul {
    padding-left: calc(var(--frame-gap) * 0.6);
  }

  li {
    word-break: break-all;
  }

  &-header,
  &-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: var(--frame-gap);
    font-size: 1.2rem;
    font-weight: 700;

    p {
      display: block;
      width: calc(100% - var(--frame-gap) * 2);
      height: 100%;
      padding: 0 var(--frame-gap);
      text-align: center;
      line-height: calc(var(--frame-gap) * 2);
      white-space: nowrap;
      border-top: var(--frame-line) solid var(--frame-color);
    }

    img {
      width: var(--frame-gap);
      height: var(--frame-gap);

      &~img {
        transform: scaleX(-1);
      }
    }
  }

  &-footer {
    transform: scaleY(-1);
  }
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  >div:not(.fireworks) {
    width: 70%;
    position: relative;
    z-index: 2;
  }

  .info-title {
    width: 80%;
    margin: var(--gutter) auto 0;
  }
}

@media (min-width: 720px) {
  main {
    .mark {
      width: 280px;
      margin-bottom: 0;
    }

    .btn {
      width: 80%;
      font-size: 1.25rem;
      padding: 0.75rem 0;
    }
  }

  .main-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    >div:not(.fireworks) {
      width: 40%;
      margin-bottom: calc(var(--gutter) * 2);
    }
  }

}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 12deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -8deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.05);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes firework {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}